@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: 2s ease;
}

body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
}

:root{
    --primary-color:rgb(230, 54, 0);
}


.sidebar{
    width: 90%;
    height: 90px;
    background-color: orangered;
    margin: 4em;
    margin-top: 2em;
    border-radius: 20px;
    border: 10px solid rgb(165, 192, 233);
}

.sidebar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.sidebar ul .list{
    display: flex;
    align-items: center;
    gap: 2em;
}

.logo a{
    font-size: 3em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.list li{
    padding: 10px 10px;
    cursor: pointer;
}

.list li a{
    color: white;
    font-size: 1.1em;
    font-family:sans-serif;
}

.sidebar .btn a{
    padding: 20px 30px;
    color: white;
    background-color: rgb(53, 167, 233);;
    border-radius: 10px;
}

.intros{
    padding: 0px 60px;
}

.intros h2{
    font-size: 4em;
    color:black;
    text-align: center;
}

.intros p{
    font-size: 1.4em;
    color: black;
    text-align: center;
}

.intros .intro{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    padding: 30px 0;
}
.bt5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    gap: 3em;
}

.bt5 a{
    padding: 26px 90px;
    border: 2px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    transition: .8s ease;
    border-radius: 20px;
    border: 2px solid rgb(50, 161, 226);
}

.bt5 a:first-child{
    background: linear-gradient(360deg, rgb(241, 82, 82), rgb(224, 74, 28));
}
.bt5 a:last-child{
    background: linear-gradient(360deg, rgb(241, 0, 121), rgb(236, 84, 29));
}
.bt5 a:hover{
    
    background: linear-gradient(360deg, rgb(238, 47, 47), rgb(236, 70, 29));
}
.intro .in{
    width: 85%;
    height: 170px;
    background: linear-gradient(360deg, rgb(241, 82, 82), rgb(236, 84, 29));
    border-radius: 10px;
}

.in{
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 2px solid transparent;
    gap: 9em;
    flex-direction: column;
    box-shadow: 0 0 10px transparent;
    justify-content: center;
}
.for{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.for h2{
    display: flex;
    align-items: center;
    gap: 0.2em;
    color: white;
}
.for h2 .log{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

.for p{
    text-align: center;
    font-size: 2em;
}

.in:hover{
    box-shadow: 0 0 10px var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: translateY(-20px);
}

table{
    width: 98%;
    background-color: whitesmoke;
}

table th{
    width: 50px;
    height: 40px;
    color: white;
    background-color: rgb(48, 167, 236);
    border-radius: 1px;
}

th:hover:nth-child(even){
    background-color: rgb(235, 160, 22);
}

table td{
    text-align: center;
    padding: 10px 0;
    background-color: white;
    font-size: 1.1em;
}
td:nth-child(even){background-color: rgba(245, 196, 122, 0.596);}
.b{
    display: flex;
    align-items: center;gap: 1em;
    justify-content: center;
}

.b a{
    padding: 13px 20px;
    width: 20%;
    color: white;
    background-color:gray;
    background-color: var(--primary-color);
}

.uploads{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height:100%;
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.425);
}
.ok{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 20;
    width: 20%;
    box-shadow: 0 0 10px rgb(206, 62, 62);
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: scale(1.3);
    justify-content: center;
    gap: 3em;
    background-color: whitesmoke;
    border-radius: 10px;
}

.ok p{
    font-size: 4em;
}

.ok h3{
    font-size: 1.4em;
    color: black;
    text-align: center;
}

.uploader{
    position: absolute;
    z-index:30;
    width: 30%;
    padding: 90px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    border-top: 3px solid transparent;
}
.load{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    border-top: 3px solid red;
    animation: load .3s ease infinite;
}
.load2{
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    border-top: 3px solid red;
    animation: load .3s ease infinite;
}

@keyframes load {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

.uploads .upload{
    width: 20%;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: auto;
}
.up{
    width: 100%;
    position: relative;
    top: 0;
    display: block;
}

#up1{display: block;}
#up2{
    display: none;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}
#up3{
    display: none;
}

#up2 p{
            color: black;
    font-size: 2em;
}
#up2 input{
    padding: 10px;
}
#up3 input{
    width: 90%;
    padding: 20px;
    margin-top: 1em;
    border-radius: 10px;
    border: 1px solid grey;
}
.up h2{
    text-align: center;
}
.upload select{
    margin-top: 1em;
    padding: 20px;
    width: 100%;
    border-radius: whitesmoke;
    border-radius: 10px;
    border: 1px solid grey;
}

option{
    padding: 10px 10px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.btn44{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    width: 100%;
}

.btn44 a{
    width: 50%;
    box-shadow: 0 0 10px rgb(245, 89, 89);
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
}

.btn44 a:first-child{
    color: rgb(197, 7, 7);
    background-color: whitesmoke;
}
.btn44 a:last-child{
    color: white;
    background-color: var(--primary-color);
}




.copy{
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 2em;
}

.copy span{
    height: 100%;
    padding: 0px 10px;
        display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: red;
}


/* settings container */

.settings{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
            display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 24, 24, 0.445);
    backdrop-filter: blur(10px);
}

.settings .setting{
    width: 60%;
    height: 13vh;border-radius: 20px;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    gap: 3em;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.507);
}

.hea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.hea h2{
    font-size: 3em;
}
.hea .act{
    display: flex;
    align-items: center;
    gap: 1em;
}


.act a{
    padding: 15px 30px;
    border: 2px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    transition: .8s ease;
    border-radius: 10px;
}

.act a:first-child{
    background: linear-gradient(360deg, rgb(241, 82, 82), rgb(224, 74, 28));
}
.act a:last-child{
    opacity: 0.4;
    background: linear-gradient(360deg, rgb(241, 0, 121), rgb(236, 84, 29));
}
.cent{
    width: 90%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    padding: 0px 10px;
}

.cent .themes{
    width: 100%;
}

.themes h2{
    color: black;
    font-size: 2em;
}

.themes .theme{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    
    gap: 1.1em;
    padding: 30px 0;
}

.theme .them{
    width: 90%;
    height: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}

.them:nth-child(1){
    background-color: black;
    color: white;
}
.them:nth-child(2){
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.527);
}
.them:nth-child(3){
    background-color: wheat;
    color: black;
}
.them::before{
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

.them.active{
    border: 2px solid red;
}
.them.active::before{
    background-color: var(--primary-color);
}

.update{
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(201, 201, 201, 0.411);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
}

.update h3{font-size:1.6em;color: black;text-align: left;text-transform: capitalize;}

.update input{
    width: 90%;
    height: 50px;
    background-color: white;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    outline: none;
    margin-top: 1em;
    padding: 0 10px;
}

.update .b3{
    margin-top: 2em;
}

.b3 a{
    width: 100%;
    background: linear-gradient(360deg, rgb(241, 0, 121), rgb(236, 84, 29));
    padding: 20px 414px;
    border-radius: 10px;
    color: white;
}

/* @media (min-width : 578px) {
.intros{
    width: 100%;
    padding: 0 10px;
}
.intros .intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 30px 30px;
}
}


@media (max-width : 668px) {
.intros{
    width: 100%;
    padding: 0 10px;
}
.intros .intro{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 30px 10px;
}
}
 */


 .featured-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
 }