@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: .6s ease;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: var(--primary-color);
}
::-webkit-scrollbar-track{
    border-radius: 50px;
    background-color: rgb(143, 143, 143);
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 50px;
    
}


body{
    background-color: black;
    overflow-x: hidden;

    font-family: 'Roboto',sans-serif;
}

:root{
    --primary-color:rgb(230, 54, 0);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.473);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul .logo a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 3em;
    margin-top: 0.3em;
}


nav ul .list{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 0.5em;
}
.list li{
    padding: 10px 20px;
}

.list li a{
    color: white;
    font-size: 1.2em;
}





.sea{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    z-index: 9998;
    transform: translateY(200%);
}
.sea .cl{
    position: absolute;
    top: 10px;
    font-size: 2em;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.sea .input{
    margin-left: 27em;
    width: 50%;
    height: 120px;
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(184, 184, 184);
}
.sea i{
    padding: 30px 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-left: 0.3em;
    color: white;
}
.ses{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 20px 0;
    margin-top: 1em;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.ses .se{
    width: 90%;
    height: 400px;
    box-shadow: 0 0 20px rgba(16, 16, 197, 0.349),0 10px 30px rgba(235, 110, 8, 0.247);
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    border-radius: 10px;
}
.se:hover{
     box-shadow: 0 0 20px rgba(197, 37, 16, 0.377),0 2px 10px rgba(238, 94, 137, 0.233);
}




.intros{
    width: 100%;
 overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}
.intros .shorts{
    width: 25%;
    height: 100%;
    padding: 40px 10px;
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: relative;
    
}
.intros .short{
    width: 100%;
    height: 800px;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
    position: relative;
    overflow: hidden;
}

.short .over2{
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    gap: 1em;
    backdrop-filter: blur(8px);
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
}
.b a{
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 2em;

}
.over2 h2{
    color: white;
    text-align: left;
    font-size: 1.5em;
}
.btns{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2em;
}


.btns p{
    color: rgb(231, 231, 231);
    font-size: 1em;
}

.arrows{
    position: fixed;
    bottom: 40%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.arrows i{
    cursor: pointer;
    padding: 12px 10px;
    font-size: 2em;
    border: 1px solid var(--primary-color);
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 50%;
}

.arrows i:hover{
    background-color: var(--primary-color);
}
/* 
@media (min-width: 768px) {
    .intros .shorts{
        width: 55%;
    }
} */