@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: .6s ease;
}

body{
    background-color: black;
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

:root{
    --primary-color:rgb(230, 54, 0);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.473);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul .logo a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 3em;
    margin-top: 0.3em;
}


nav ul .list{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 0.5em;
}
.list li{
    padding: 10px 20px;
}

.list li a{
    color: white;
    font-size: 1.2em;
}






.intros{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    margin-top: 6em;
    gap: 1em;
}

.intros .watchs{
    width: 50%;
    height: 90vh;
    overflow: auto;
    position: fixed;
    padding: 2px 20px;
}

.watchs::-webkit-scrollbar{
    display: none;
}
.plays{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    transform: translateY(20px);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.video:hover .plays{
    opacity: 1;
    transform: translate(0);
}

.play{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
#p2{
    display: none;
}
.play i{
    color: white;
    font-size: 1.2em;
}
.watchs .video{
    width: 100%;
    height: 600px;
    border-radius: 20px;
    background-color: rgb(58, 58, 58);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* box-shadow: 0 0 10px rgba(223, 50, 50, 0.397); */
}

video{
    width: 100%;
    height: 100%;
}
.watchs .infos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 10px;
}

.infos h2{
    font-size: 2.5em;
    color: white;
    line-height: 1.5;
}

.infos .bt5{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.bt5 a{
    width: 50%;
    text-align: center;
    padding: 20px 0;
    color: white;
    border-radius: 50px;
    background-color: var(--primary-color);
}

.pop{
    width: 43%;
    height: 90vh;
    margin-left: 60em;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;

    gap: 0em;

}

.pop .poper{
    width: 240px;
    padding: 5px;
    background-color: transparent;
    border-radius: 0px;
}

.poper:hover{
    background-color: rgba(245, 245, 245, 0.26);
    border-radius: 20px;
}

.move{
    scroll-behavior: smooth;
    scroll-margin-left: 50%;
}
.poper .mage{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
    border-radius: 12px;
    background-color: rgb(44, 44, 44);
    
}

.poper .over{
    position: absolute;
    top: 0;
    background-color:transparent;

    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 100%;
}

.poper:hover img{
    transform: scale(1.2);
}

.over .btn2 a:first-child{
    background-color: rgb(196, 69, 69);
    padding: 10px 10px;
    transform: scale(0.5);
    color: white;
    opacity: 0;
}
.over .btn2 a:last-child{
    background-color: rgb(230, 54, 0);
    padding: 15px 30px;
    margin-top: 5em;
    position: absolute;
    color: white;
    transform: translateY(50%);
    opacity: 0;
}
.poper:hover .over{
    transform: translate(0);
    opacity: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(10, 7, 7, 0.295);
}
.poper:hover .btn2 a:first-child{
    transform: translate(0);
    opacity: 1;
}
.poper:hover .btn2 a:last-child{
    transform: translate(0);
    opacity: 1;
}

.te{
    padding: 10px;
    text-align: left;
    font-size: 1.2em;
    color: white;
}

.sea{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    z-index: 9998;
    transform: translateY(200%);
}
.sea .cl{
    position: absolute;
    top: 10px;
    font-size: 2em;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.sea .input{
    margin-left: 27em;
    width: 50%;
    height: 120px;
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(184, 184, 184);
}
.sea i{
    padding: 30px 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-left: 0.3em;
    color: white;
}
.ses{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 20px 0;
    margin-top: 1em;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.ses .se{
    width: 90%;
    height: 400px;
    box-shadow: 0 0 20px rgba(16, 16, 197, 0.349),0 10px 30px rgba(235, 110, 8, 0.247);
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    border-radius: 10px;
}
.se:hover{
     box-shadow: 0 0 20px rgba(197, 37, 16, 0.377),0 2px 10px rgba(238, 94, 137, 0.233);
}
.episodes{
    padding: 10px 0;
}

.episodes h4{
    font-size: 1.5em;
    color: white;
}

.eps{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
    padding: 20px 0;
}

.eps .ep{
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.ep:hover{
    box-shadow: 0 0 10px var(--primary-color);
}
.ep.active{
    background-color: var(--primary-color);
}

form{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    text-align: left;
}
.in{
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.1em;
}

form h2{
    text-align: left;
    color: white;
    padding: 20px 0;
}
form #in1{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px;
}
form #in2{
    width: 100%;
    height: 160px;
    resize: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px;
}
#in2:focus{
    outline: 1px solid #fff;
    border: 1px solid #fff;
}

.bo{
    margin-top: 0.8em;
    margin-left: 0em;
}
form .bo a{
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 20px 420px;
    border: 1px solid transparent;
    color: white;
}
.bt5 a{
    border: 1px solid transparent;
}
 
.bt5 a:hover{
    background-color: white;
    color: red;
    border: 1px solid var(--primary-color);
}
.comment-section{
    width: 100%;
    padding: 40px 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.comment-section .comments{
    display: flex;
    align-items: center;
    gap: 1em;
}
.comments{
    cursor: pointer;
    padding: 10px 10px;
    
}

.comments:hover{
    background-color: rgb(56, 56, 56);
}
.magg{
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}
.message{
    width: 90%;
    color: white;
    font-size:1.5em;
}
::placeholder{
    color: #ffffff;
}

footer{
    width: 100%;
   padding: 0px 0;
    background-color: black;
position: absolute;
bottom: 0;
}

.footer ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px 30px;
}

footer ul .foots{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
}

.foots .foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 20px 0;

}

.foot li{
    padding: 10px 20px;
    
}

.foot li a{
    font-size: 1.2em;
    color: whitesmoke;
}

.foot h2{
    color: var(--primary-color);
    font-size: 2em;
}


.foot .cons{
    display: flex;
    align-items: center;gap: 1em;
}

.cons .con{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}
.con:hover{
    background-color: white;
    border: 1px solid var(--primary-color);
}
.foot .input2{
    width: 370px;
    height: 60px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}
.input2 .s{
    width: 95px;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: #fff;
    background-color:var(--primary-color);
}
.input2 input{
    width: 80%;
    height: 100%;
    border: none;
    padding: 10px;
    outline: none;
}

.copy{
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.copy span{
    height: 100%;
    padding: 0px 10px;
        display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: red;
}


/* 
@media (min-width : 768px) {
    .intros{
        width: 100%;
        display: flex;
        padding: 20px 10px;
        align-items: center;
        flex-direction: column;
    }
    .intros .watchs{
        width: 90%;
    }
    .pop{
        margin-left: 1em;
        margin-top: 65em;
        position: relative;
        width: 100%;
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.918);
    }
    .bo{margin-left: 1em;}
} */